@tailwind base;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply relative h-full font-pretendard text-base text-gray-900;
  }

  #__next {
    @apply h-full;
  }

  a,
  button {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2;
  }

  [type='checkbox'] {
    @apply text-blue-400 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2;
  }

  [type='radio'] {
    @apply border-gray-400 text-blue-400 focus:outline-none focus:ring-0 focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@tailwind components;

@tailwind utilities;

@layer components {
  .prose-custom-li > ul li ul li {
    @apply marker:content-["👉"];
  }

  .scrollbarNone {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbarNone::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .prose :where(iframe):not(:where([class~='not-prose'] *)) {
    @apply aspect-1 h-auto w-full;
  }

  .slider-left {
    animation: slideToLeftMobile 60s linear infinite;
  }

  .slider-left2 {
    animation: slideToLeftMobile 80s linear infinite;
  }

  .slider-right {
    animation: slideToRightMobile 70s linear infinite;
  }

  @keyframes slideToLeftMobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes slideToRightMobile {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
